/* login - signup - createblog*/
@media (max-width: 950px)and (min-width:500px) {
    
    .main{
        width: 50%;
        padding: 20px;
        font-size: 16px;
    }
    .main input,textarea{
        width: 70%;
      padding: 8px 20px;
      margin-top: 10px;
    }
}
@media (max-width: 499px) {
 
    .main{
        width: 80%;
        padding: 30px;
        font-size: 14px;
    }
    .main input , textarea{
        width: 100% ;
      padding: 3px 10px;
      margin-top: 10px;
    }
}
/* login - signup - createblog*/

/* All Blogs */
@media (max-width:805px) and (min-width:450px) {
    
    .boxes{
        flex-direction: column;
    }
    .boxes .box{
    width: 70%;
    }
}
@media (max-width:450px) {
    
    .boxes{
        flex-direction: column;
    }
    .boxes .box{
    width: 100%;
    }
}

/* All Blogs */