*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* login - signup - createblog*/
.main{
    border: 2px solid rgb(0, 0, 0);
    width: 30%;
    margin: 0 auto;
    margin-top: 10%;
    padding: 40px 30px;
    height: auto;
    text-align: center;
    border-radius: 20px;
    box-shadow: -0px 2px 10px 10px #0000005d;
}
.main input,textarea{
    padding: 8px 30px;
    margin: 20px 0px 6px 0px;
    outline: 0;
}
.main button{
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    padding: 8px 20px;
    margin-bottom: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.7s;
}
.main button:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}


/* login - signup - createblog*/

/* All Blog */
.boxes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid red; */
    text-align: center;
    padding: 20px;
}
.boxes .box{
    width: 30%;
    height: auto;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: -0px 2px 10px 10px #0000005d;



}
.boxes .box hr{
    border: 1px solid black;
    margin-bottom: 10px;
}
.boxes .box h4{
    margin: 5px;
}
.boxes .box button{
   
    margin: 0 auto;
    margin-top: 10px;
    padding: 8px 20px;
    margin-bottom: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.7s;


    
}
.boxes .box  button:hover{
    background-color: black;
    color: white;
    border: 2px solid white;

}
/* All Blog */

/* Dashboard */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid black;
    margin: 20px;
}
nav .links a{
    margin: 5px;
    text-decoration: none;
    color: black;
    transition: 0.7s;
    border-bottom: 5px solid white;


}

nav .links a:hover{
    border-bottom: 5px solid black;
}
nav .btns a{
     
    padding: 7px 15px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.7s;
    text-decoration: none;
    color: black;
}
nav .btns a:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
  

}
.dash{
    
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.pro{
    border: 2px solid black;
    height: auto;
    width: 40%;
    text-align: center;
    padding: 20px;
    box-shadow: -0px 2px 10px 10px #0000005d;
  border-radius: 15px;
  margin: 20px;
    
}
.pro .imag{
 width: 40%;
 margin: 0 auto;
}
.pro .imag img{
 width: 100%;
 height: 30vh;
 border-radius:50%;
 border: 3px solid black;
}
.pro .details button{
    
    padding: 9px 15px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.7s;
    text-decoration: none;
    color: black;
    margin-top: 20px;
}
.pro .details button a{
    text-decoration: none;
    color: rgb(194, 238, 255);
}
.pro .details button:hover{
 background-color: black;
    color: white;
    border: 2px solid white;
}

/* Dashboard */