*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* login - signup - createblog*/
.main{
    border: 2px solid rgb(0, 0, 0);
    width: 30%;
    margin: 0 auto;
    margin-top: 10%;
    padding: 40px 30px;
    height: auto;
    text-align: center;
    border-radius: 20px;
    box-shadow: -0px 2px 10px 10px #0000005d;
}
.main input,textarea{
    padding: 8px 30px;
    margin: 20px 0px 6px 0px;
    outline: 0;
}
.main button{
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    padding: 8px 20px;
    margin-bottom: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.7s;
}
.main button:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}


/* login - signup - createblog*/